//= require reset
//= require sidebar
//= require authorization
//= require game

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    border-radius: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #f6f6f6 url('body_bg.gif');
  display: flex;
  flex-direction: row;
  font-family: monospace;
}

button {
  display: block;
  font-size: large;
  color: white;
  padding: 14px 30px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin: auto;
}

.center {
  margin: auto;
}

.btn-green {
  background-color: #4CAF50;
}

.btn-blue {
  background-color: #548fc5;
}

p {
  text-align: center;
  margin-bottom: 10px;
}

.main {
  flex: 1;
  height: 100%;
}

.logo {
  font-family: 'Share Tech Mono', monospace;
  font-size: 4em;
  color: #333;
  text-align: center;
  margin-top: 40px;
}


