<form action='/api/guess' class='playground-form'>
  <div class="codes">
    <% @game.code_length.times do |index| %>
      <div class="code">
        <input type="text" maxlength="1" name="code_<%= index %>" required>
      </div>
    <% end %>
  </div>
  <p class="message attempts">Attempts left: <span class="counter"><%= @game&.attempts_left %></span></p>
  <p class="message win" hidden>You won!! Try again?</p>
  <p class="message loose" hidden>You loose, secret code was <span class="secret"></span></p>
  <p class="message error" hidden></p>
  <div class="btn-group">
    <button class="btn-restart">Restart</button>
    <button class="btn-guess">Submit</button>
  </div>
</form>
